<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="description" content="This is a simple browser poker game">
	<meta name="viewport" content="width=device-width, initial-scale=0.7">
	<meta name="author" content="Bojan Morvai">

	<title>Browser Poker Game</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/poker.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

</head>
<body>
		<nav class="navbar navbar-light justify-content-between">
			<div class='container-fluid'>
  				<a  href='/' class="navbar-brand"><strong>Poker by Bojan</strong></a>
 				<ul class='nav'>
					<% if(!currentUser){ %>
						<li><a class='nav-item nav-link' href='/login'><em>Login</em></a></li>
						<li><a class='nav-item nav-link' href='/save'><em>Save</em></a></li>	
					<% } else { %>
						<span class='navbar-text'>Igrate kao <%= currentUser.username %></span>
						<li><a class='nav-item nav-link' href='/logout'><em>Logout</em></a></li>
					<% } %>
				</ul>	
			</div>
		</nav>
		
  