<% include ./partials/header %>
<h1>
	Save Game
</h1>

<form action='/save' method="POST">
	<input type='text' name='username' placeholder='Unesite ime'>
	<input type='password' name='password' placeholder='Unesite sifru'>
	<button>
		Save!
	</button>
</form>

<% include ./partials/footer %>